body {
  padding-top: 0;
}
@media screen and (min-width: 48em) {
  body {
    padding-top: 220px;
  }
}
body #header {
  position: relative;
  height: auto;
  width: auto;
}
@media screen and (min-width: 48em) {
  body #header {
    position: fixed;
    height: 200px;
    width: 1280px;
  }
}
body #header nav.block-main-menu {
  margin-bottom: 30px;
}
body #header nav.block-main-menu ul {
  display: block;
}
body #header nav.block-main-menu ul li {
  display: block;
  text-align: center;
}
body #header nav.block-main-menu ul li:not(:first-child) {
  border-left: none;
}
@media screen and (min-width: 48em) {
  body #header nav.block-main-menu {
    margin-bottom: 30px;
  }
  body #header nav.block-main-menu ul {
    display: inline-block;
  }
  body #header nav.block-main-menu ul li {
    display: inline-block;
  }
  body #header nav.block-main-menu ul li:not(:first-child) {
    border-left: 1px solid #222;
  }
}
body .sub-menu-container {
  position: static;
  margin: 0 auto 30px;
}
@media screen and (min-width: 64em) {
  body .sub-menu-container {
    position: absolute;
  }
}
body .sub-menu-container .sub-menu-inner div {
  font-weight: bold;
  text-align: center;
}
@media screen and (min-width: 80em) {
  body .sub-menu-container .sub-menu-inner div {
    text-align: left;
  }
}
body .sub-menu-container .sub-menu-inner ul {
  padding-bottom: 20px;
}
body .sub-menu-container .sub-menu-inner ul li a {
  padding: 0 7.5px;
}
@media screen and (min-width: 80em) {
}
body .view-profile {
  margin-bottom: 100px;
}
